:root {
  --color-primary-50: #eaf2ffff;
  --color-primary-100: #bdd7ffff;
  --color-primary-200: #9dc4ffff;
  --color-primary-300: #71a9ffff;
  --color-primary-400: #5599ffff;
  --color-primary-500: #2b7fffff;
  --color-primary-600: #2774e8ff;
  --color-primary-700: #1f5ab5ff;
  --color-primary-800: #18468cff;
  --color-primary-900: #12356bff;
  --color-secondary-50: #eaecf1ff;
  --color-secondary-100: #bdc3d3ff;
  --color-secondary-200: #9da6bdff;
  --color-secondary-300: #707e9fff;
  --color-secondary-400: #54658dff;
  --color-secondary-500: #293e70ff;
  --color-secondary-600: #253866ff;
  --color-secondary-700: #1d2c50ff;
  --color-secondary-800: #17223eff;
  --color-secondary-900: #111a2fff;
  --color-accent-50: #edebf0ff;
  --color-accent-100: #c7c2d1ff;
  --color-accent-200: #aca4bbff;
  --color-accent-300: #867a9cff;
  --color-accent-400: #6f6189ff;
  --color-accent-500: #4b396bff;
  --color-accent-600: #443461ff;
  --color-accent-700: #35284cff;
  --color-accent-800: #291f3bff;
  --color-accent-900: #20182dff;
  --color-success-50: #e6faeeff;
  --color-success-100: #b0eec9ff;
  --color-success-200: #8ae6afff;
  --color-success-300: #54db8aff;
  --color-success-400: #33d473ff;
  --color-success-500: #00c950ff;
  --color-success-600: #00b749ff;
  --color-success-700: #008f39ff;
  --color-success-800: #006f2cff;
  --color-success-900: #005422ff;
  --color-error-50: #ffeaebff;
  --color-error-100: #febec1ff;
  --color-error-200: #fd9ea3ff;
  --color-error-300: #fc7278ff;
  --color-error-400: #fc565eff;
  --color-error-500: #fb2c36ff;
  --color-error-600: #e42831ff;
  --color-error-700: #b21f26ff;
  --color-error-800: #8a181eff;
  --color-error-900: #691217ff;
  --color-warning-50: #fff5e6ff;
  --color-warning-100: #ffe0b0ff;
  --color-warning-200: #ffd18aff;
  --color-warning-300: #febb54ff;
  --color-warning-400: #feae33ff;
  --color-warning-500: #fe9a00ff;
  --color-warning-600: #e78c00ff;
  --color-warning-700: #b46d00ff;
  --color-warning-800: #8c5500ff;
  --color-warning-900: #6b4100ff;
  --color-background-50: #ffffffff;
  --color-background-100: #ffffffff;
  --color-background-200: #ffffffff;
  --color-background-300: #ffffffff;
  --color-background-400: #ffffffff;
  --color-background-500: #ffffffff;
  --color-background-600: #e8e8e8ff;
  --color-background-700: #b5b5b5ff;
  --color-background-800: #8c8c8cff;
  --color-background-900: #6b6b6bff;
  --color-neutral-1-50: #feffffff;
  --color-neutral-1-100: #fdfdfeff;
  --color-neutral-1-200: #fcfdfeff;
  --color-neutral-1-300: #fafcfdff;
  --color-neutral-1-400: #f9fbfdff;
  --color-neutral-1-500: #f8fafcff;
  --color-neutral-1-600: #e2e4e5ff;
  --color-neutral-1-700: #b0b2b3ff;
  --color-neutral-1-800: #888a8bff;
  --color-neutral-1-900: #68696aff;
  --color-neutral-2-50: #e8e8e8ff;
  --color-neutral-2-100: #b7b7b8ff;
  --color-neutral-2-200: #959596ff;
  --color-neutral-2-300: #646466ff;
  --color-neutral-2-400: #464649ff;
  --color-neutral-2-500: #18181bff;
  --color-neutral-2-600: #161619ff;
  --color-neutral-2-700: #111113ff;
  --color-neutral-2-800: #0d0d0fff;
  --color-neutral-2-900: #0a0a0bff;
  --font-h1-b-font-size: 48px;
  --font-h1-b-text-decoration: none;
  --font-h1-b-font-family: IBM Plex Sans;
  --font-h1-b-font-weight: 700;
  --font-h1-b-font-style: normal;
  --font-h1-b-font-stretch: normal;
  --font-h1-b-letter-spacing: 0;
  --font-h1-b-line-height: 96px;
  --font-h1-b-paragraph-indent: 0px;
  --font-h1-b-paragraph-spacing: 0px;
  --font-h1-b-text-case: none;
  --font-h1-sb-font-size: 48px;
  --font-h1-sb-text-decoration: none;
  --font-h1-sb-font-family: IBM Plex Sans;
  --font-h1-sb-font-weight: 600;
  --font-h1-sb-font-style: normal;
  --font-h1-sb-font-stretch: normal;
  --font-h1-sb-letter-spacing: 0;
  --font-h1-sb-line-height: 96px;
  --font-h1-sb-paragraph-indent: 0px;
  --font-h1-sb-paragraph-spacing: 0px;
  --font-h1-sb-text-case: none;
  --font-h1-m-font-size: 48px;
  --font-h1-m-text-decoration: none;
  --font-h1-m-font-family: IBM Plex Sans;
  --font-h1-m-font-weight: 500;
  --font-h1-m-font-style: normal;
  --font-h1-m-font-stretch: normal;
  --font-h1-m-letter-spacing: 0;
  --font-h1-m-line-height: 96px;
  --font-h1-m-paragraph-indent: 0px;
  --font-h1-m-paragraph-spacing: 0px;
  --font-h1-m-text-case: none;
  --font-h1-r-font-size: 48px;
  --font-h1-r-text-decoration: none;
  --font-h1-r-font-family: IBM Plex Sans;
  --font-h1-r-font-weight: 400;
  --font-h1-r-font-style: normal;
  --font-h1-r-font-stretch: normal;
  --font-h1-r-letter-spacing: 0;
  --font-h1-r-line-height: 96px;
  --font-h1-r-paragraph-indent: 0px;
  --font-h1-r-paragraph-spacing: 0px;
  --font-h1-r-text-case: none;
  --font-h2-b-font-size: 40px;
  --font-h2-b-text-decoration: none;
  --font-h2-b-font-family: IBM Plex Sans;
  --font-h2-b-font-weight: 700;
  --font-h2-b-font-style: normal;
  --font-h2-b-font-stretch: normal;
  --font-h2-b-letter-spacing: 0;
  --font-h2-b-line-height: 80px;
  --font-h2-b-paragraph-indent: 0px;
  --font-h2-b-paragraph-spacing: 0px;
  --font-h2-b-text-case: none;
  --font-h2-sb-font-size: 40px;
  --font-h2-sb-text-decoration: none;
  --font-h2-sb-font-family: IBM Plex Sans;
  --font-h2-sb-font-weight: 600;
  --font-h2-sb-font-style: normal;
  --font-h2-sb-font-stretch: normal;
  --font-h2-sb-letter-spacing: 0;
  --font-h2-sb-line-height: 80px;
  --font-h2-sb-paragraph-indent: 0px;
  --font-h2-sb-paragraph-spacing: 0px;
  --font-h2-sb-text-case: none;
  --font-h2-m-font-size: 40px;
  --font-h2-m-text-decoration: none;
  --font-h2-m-font-family: IBM Plex Sans;
  --font-h2-m-font-weight: 500;
  --font-h2-m-font-style: normal;
  --font-h2-m-font-stretch: normal;
  --font-h2-m-letter-spacing: 0;
  --font-h2-m-line-height: 80px;
  --font-h2-m-paragraph-indent: 0px;
  --font-h2-m-paragraph-spacing: 0px;
  --font-h2-m-text-case: none;
  --font-h2-r-font-size: 40px;
  --font-h2-r-text-decoration: none;
  --font-h2-r-font-family: IBM Plex Sans;
  --font-h2-r-font-weight: 400;
  --font-h2-r-font-style: normal;
  --font-h2-r-font-stretch: normal;
  --font-h2-r-letter-spacing: 0;
  --font-h2-r-line-height: 80px;
  --font-h2-r-paragraph-indent: 0px;
  --font-h2-r-paragraph-spacing: 0px;
  --font-h2-r-text-case: none;
  --font-h3-b-font-size: 33px;
  --font-h3-b-text-decoration: none;
  --font-h3-b-font-family: IBM Plex Sans;
  --font-h3-b-font-weight: 700;
  --font-h3-b-font-style: normal;
  --font-h3-b-font-stretch: normal;
  --font-h3-b-letter-spacing: 0;
  --font-h3-b-line-height: 66px;
  --font-h3-b-paragraph-indent: 0px;
  --font-h3-b-paragraph-spacing: 0px;
  --font-h3-b-text-case: none;
  --font-h3-sb-font-size: 33px;
  --font-h3-sb-text-decoration: none;
  --font-h3-sb-font-family: IBM Plex Sans;
  --font-h3-sb-font-weight: 600;
  --font-h3-sb-font-style: normal;
  --font-h3-sb-font-stretch: normal;
  --font-h3-sb-letter-spacing: 0;
  --font-h3-sb-line-height: 66px;
  --font-h3-sb-paragraph-indent: 0px;
  --font-h3-sb-paragraph-spacing: 0px;
  --font-h3-sb-text-case: none;
  --font-h3-m-font-size: 33px;
  --font-h3-m-text-decoration: none;
  --font-h3-m-font-family: IBM Plex Sans;
  --font-h3-m-font-weight: 500;
  --font-h3-m-font-style: normal;
  --font-h3-m-font-stretch: normal;
  --font-h3-m-letter-spacing: 0;
  --font-h3-m-line-height: 66px;
  --font-h3-m-paragraph-indent: 0px;
  --font-h3-m-paragraph-spacing: 0px;
  --font-h3-m-text-case: none;
  --font-h3-r-font-size: 33px;
  --font-h3-r-text-decoration: none;
  --font-h3-r-font-family: IBM Plex Sans;
  --font-h3-r-font-weight: 400;
  --font-h3-r-font-style: normal;
  --font-h3-r-font-stretch: normal;
  --font-h3-r-letter-spacing: 0;
  --font-h3-r-line-height: 66px;
  --font-h3-r-paragraph-indent: 0px;
  --font-h3-r-paragraph-spacing: 0px;
  --font-h3-r-text-case: none;
  --font-body-1-b-font-size: 28px;
  --font-body-1-b-text-decoration: none;
  --font-body-1-b-font-family: IBM Plex Sans;
  --font-body-1-b-font-weight: 700;
  --font-body-1-b-font-style: normal;
  --font-body-1-b-font-stretch: normal;
  --font-body-1-b-letter-spacing: 0;
  --font-body-1-b-line-height: 56px;
  --font-body-1-b-paragraph-indent: 0px;
  --font-body-1-b-paragraph-spacing: 0px;
  --font-body-1-b-text-case: none;
  --font-body-1-sb-font-size: 28px;
  --font-body-1-sb-text-decoration: none;
  --font-body-1-sb-font-family: IBM Plex Sans;
  --font-body-1-sb-font-weight: 600;
  --font-body-1-sb-font-style: normal;
  --font-body-1-sb-font-stretch: normal;
  --font-body-1-sb-letter-spacing: 0;
  --font-body-1-sb-line-height: 56px;
  --font-body-1-sb-paragraph-indent: 0px;
  --font-body-1-sb-paragraph-spacing: 0px;
  --font-body-1-sb-text-case: none;
  --font-body-1-m-font-size: 28px;
  --font-body-1-m-text-decoration: none;
  --font-body-1-m-font-family: IBM Plex Sans;
  --font-body-1-m-font-weight: 500;
  --font-body-1-m-font-style: normal;
  --font-body-1-m-font-stretch: normal;
  --font-body-1-m-letter-spacing: 0;
  --font-body-1-m-line-height: 56px;
  --font-body-1-m-paragraph-indent: 0px;
  --font-body-1-m-paragraph-spacing: 0px;
  --font-body-1-m-text-case: none;
  --font-body-1-r-font-size: 28px;
  --font-body-1-r-text-decoration: none;
  --font-body-1-r-font-family: IBM Plex Sans;
  --font-body-1-r-font-weight: 400;
  --font-body-1-r-font-style: normal;
  --font-body-1-r-font-stretch: normal;
  --font-body-1-r-letter-spacing: 0;
  --font-body-1-r-line-height: 56px;
  --font-body-1-r-paragraph-indent: 0px;
  --font-body-1-r-paragraph-spacing: 0px;
  --font-body-1-r-text-case: none;
  --font-body-2-b-font-size: 23px;
  --font-body-2-b-text-decoration: none;
  --font-body-2-b-font-family: IBM Plex Sans;
  --font-body-2-b-font-weight: 700;
  --font-body-2-b-font-style: normal;
  --font-body-2-b-font-stretch: normal;
  --font-body-2-b-letter-spacing: 0;
  --font-body-2-b-line-height: 46px;
  --font-body-2-b-paragraph-indent: 0px;
  --font-body-2-b-paragraph-spacing: 0px;
  --font-body-2-b-text-case: none;
  --font-body-2-sb-font-size: 23px;
  --font-body-2-sb-text-decoration: none;
  --font-body-2-sb-font-family: IBM Plex Sans;
  --font-body-2-sb-font-weight: 600;
  --font-body-2-sb-font-style: normal;
  --font-body-2-sb-font-stretch: normal;
  --font-body-2-sb-letter-spacing: 0;
  --font-body-2-sb-line-height: 46px;
  --font-body-2-sb-paragraph-indent: 0px;
  --font-body-2-sb-paragraph-spacing: 0px;
  --font-body-2-sb-text-case: none;
  --font-body-2-m-font-size: 23px;
  --font-body-2-m-text-decoration: none;
  --font-body-2-m-font-family: IBM Plex Sans;
  --font-body-2-m-font-weight: 500;
  --font-body-2-m-font-style: normal;
  --font-body-2-m-font-stretch: normal;
  --font-body-2-m-letter-spacing: 0;
  --font-body-2-m-line-height: 46px;
  --font-body-2-m-paragraph-indent: 0px;
  --font-body-2-m-paragraph-spacing: 0px;
  --font-body-2-m-text-case: none;
  --font-body-2-r-font-size: 23px;
  --font-body-2-r-text-decoration: none;
  --font-body-2-r-font-family: IBM Plex Sans;
  --font-body-2-r-font-weight: 400;
  --font-body-2-r-font-style: normal;
  --font-body-2-r-font-stretch: normal;
  --font-body-2-r-letter-spacing: 0;
  --font-body-2-r-line-height: 46px;
  --font-body-2-r-paragraph-indent: 0px;
  --font-body-2-r-paragraph-spacing: 0px;
  --font-body-2-r-text-case: none;
  --font-body-3-b-font-size: 19px;
  --font-body-3-b-text-decoration: none;
  --font-body-3-b-font-family: IBM Plex Sans;
  --font-body-3-b-font-weight: 700;
  --font-body-3-b-font-style: normal;
  --font-body-3-b-font-stretch: normal;
  --font-body-3-b-letter-spacing: 0;
  --font-body-3-b-line-height: 38px;
  --font-body-3-b-paragraph-indent: 0px;
  --font-body-3-b-paragraph-spacing: 0px;
  --font-body-3-b-text-case: none;
  --font-body-3-sb-font-size: 19px;
  --font-body-3-sb-text-decoration: none;
  --font-body-3-sb-font-family: IBM Plex Sans;
  --font-body-3-sb-font-weight: 600;
  --font-body-3-sb-font-style: normal;
  --font-body-3-sb-font-stretch: normal;
  --font-body-3-sb-letter-spacing: 0;
  --font-body-3-sb-line-height: 38px;
  --font-body-3-sb-paragraph-indent: 0px;
  --font-body-3-sb-paragraph-spacing: 0px;
  --font-body-3-sb-text-case: none;
  --font-body-3-m-font-size: 19px;
  --font-body-3-m-text-decoration: none;
  --font-body-3-m-font-family: IBM Plex Sans;
  --font-body-3-m-font-weight: 500;
  --font-body-3-m-font-style: normal;
  --font-body-3-m-font-stretch: normal;
  --font-body-3-m-letter-spacing: 0;
  --font-body-3-m-line-height: 38px;
  --font-body-3-m-paragraph-indent: 0px;
  --font-body-3-m-paragraph-spacing: 0px;
  --font-body-3-m-text-case: none;
  --font-body-3-r-font-size: 19px;
  --font-body-3-r-text-decoration: none;
  --font-body-3-r-font-family: IBM Plex Sans;
  --font-body-3-r-font-weight: 400;
  --font-body-3-r-font-style: normal;
  --font-body-3-r-font-stretch: normal;
  --font-body-3-r-letter-spacing: 0;
  --font-body-3-r-line-height: 38px;
  --font-body-3-r-paragraph-indent: 0px;
  --font-body-3-r-paragraph-spacing: 0px;
  --font-body-3-r-text-case: none;
  --font-label-1-s-font-size: 16px;
  --font-label-1-s-text-decoration: none;
  --font-label-1-s-font-family: IBM Plex Sans;
  --font-label-1-s-font-weight: 700;
  --font-label-1-s-font-style: normal;
  --font-label-1-s-font-stretch: normal;
  --font-label-1-s-letter-spacing: 0;
  --font-label-1-s-line-height: 32px;
  --font-label-1-s-paragraph-indent: 0px;
  --font-label-1-s-paragraph-spacing: 0px;
  --font-label-1-s-text-case: none;
  --font-label-1-sb-font-size: 16px;
  --font-label-1-sb-text-decoration: none;
  --font-label-1-sb-font-family: IBM Plex Sans;
  --font-label-1-sb-font-weight: 600;
  --font-label-1-sb-font-style: normal;
  --font-label-1-sb-font-stretch: normal;
  --font-label-1-sb-letter-spacing: 0;
  --font-label-1-sb-line-height: 32px;
  --font-label-1-sb-paragraph-indent: 0px;
  --font-label-1-sb-paragraph-spacing: 0px;
  --font-label-1-sb-text-case: none;
  --font-label-1-m-font-size: 16px;
  --font-label-1-m-text-decoration: none;
  --font-label-1-m-font-family: IBM Plex Sans;
  --font-label-1-m-font-weight: 500;
  --font-label-1-m-font-style: normal;
  --font-label-1-m-font-stretch: normal;
  --font-label-1-m-letter-spacing: 0;
  --font-label-1-m-line-height: 32px;
  --font-label-1-m-paragraph-indent: 0px;
  --font-label-1-m-paragraph-spacing: 0px;
  --font-label-1-m-text-case: none;
  --font-label-1-r-font-size: 16px;
  --font-label-1-r-text-decoration: none;
  --font-label-1-r-font-family: IBM Plex Sans;
  --font-label-1-r-font-weight: 400;
  --font-label-1-r-font-style: normal;
  --font-label-1-r-font-stretch: normal;
  --font-label-1-r-letter-spacing: 0;
  --font-label-1-r-line-height: 32px;
  --font-label-1-r-paragraph-indent: 0px;
  --font-label-1-r-paragraph-spacing: 0px;
  --font-label-1-r-text-case: none;
  --font-label-2-b-font-size: 13px;
  --font-label-2-b-text-decoration: none;
  --font-label-2-b-font-family: IBM Plex Sans;
  --font-label-2-b-font-weight: 700;
  --font-label-2-b-font-style: normal;
  --font-label-2-b-font-stretch: normal;
  --font-label-2-b-letter-spacing: 0;
  --font-label-2-b-line-height: 26px;
  --font-label-2-b-paragraph-indent: 0px;
  --font-label-2-b-paragraph-spacing: 0px;
  --font-label-2-b-text-case: none;
  --font-label-2-sb-font-size: 13px;
  --font-label-2-sb-text-decoration: none;
  --font-label-2-sb-font-family: IBM Plex Sans;
  --font-label-2-sb-font-weight: 600;
  --font-label-2-sb-font-style: normal;
  --font-label-2-sb-font-stretch: normal;
  --font-label-2-sb-letter-spacing: 0;
  --font-label-2-sb-line-height: 26px;
  --font-label-2-sb-paragraph-indent: 0px;
  --font-label-2-sb-paragraph-spacing: 0px;
  --font-label-2-sb-text-case: none;
  --font-label-2-m-font-size: 13px;
  --font-label-2-m-text-decoration: none;
  --font-label-2-m-font-family: IBM Plex Sans;
  --font-label-2-m-font-weight: 500;
  --font-label-2-m-font-style: normal;
  --font-label-2-m-font-stretch: normal;
  --font-label-2-m-letter-spacing: 0;
  --font-label-2-m-line-height: 26px;
  --font-label-2-m-paragraph-indent: 0px;
  --font-label-2-m-paragraph-spacing: 0px;
  --font-label-2-m-text-case: none;
  --font-label-2-r-font-size: 13px;
  --font-label-2-r-text-decoration: none;
  --font-label-2-r-font-family: IBM Plex Sans;
  --font-label-2-r-font-weight: 400;
  --font-label-2-r-font-style: normal;
  --font-label-2-r-font-stretch: normal;
  --font-label-2-r-letter-spacing: 0;
  --font-label-2-r-line-height: 26px;
  --font-label-2-r-paragraph-indent: 0px;
  --font-label-2-r-paragraph-spacing: 0px;
  --font-label-2-r-text-case: none;
  --typography-h1-b-font-size: 48px;
  --typography-h1-b-text-decoration: none;
  --typography-h1-b-font-family: IBM Plex Sans;
  --typography-h1-b-font-weight: 700;
  --typography-h1-b-font-style: normal;
  --typography-h1-b-font-stretch: normal;
  --typography-h1-b-letter-spacing: 0px;
  --typography-h1-b-line-height: 96px;
  --typography-h1-b-paragraph-indent: 0px;
  --typography-h1-b-paragraph-spacing: 0px;
  --typography-h1-b-text-case: none;
  --typography-h1-sb-font-size: 48px;
  --typography-h1-sb-text-decoration: none;
  --typography-h1-sb-font-family: IBM Plex Sans;
  --typography-h1-sb-font-weight: 600;
  --typography-h1-sb-font-style: normal;
  --typography-h1-sb-font-stretch: normal;
  --typography-h1-sb-letter-spacing: 0px;
  --typography-h1-sb-line-height: 96px;
  --typography-h1-sb-paragraph-indent: 0px;
  --typography-h1-sb-paragraph-spacing: 0px;
  --typography-h1-sb-text-case: none;
  --typography-h1-m-font-size: 48px;
  --typography-h1-m-text-decoration: none;
  --typography-h1-m-font-family: IBM Plex Sans;
  --typography-h1-m-font-weight: 500;
  --typography-h1-m-font-style: normal;
  --typography-h1-m-font-stretch: normal;
  --typography-h1-m-letter-spacing: 0px;
  --typography-h1-m-line-height: 96px;
  --typography-h1-m-paragraph-indent: 0px;
  --typography-h1-m-paragraph-spacing: 0px;
  --typography-h1-m-text-case: none;
  --typography-h1-r-font-size: 48px;
  --typography-h1-r-text-decoration: none;
  --typography-h1-r-font-family: IBM Plex Sans;
  --typography-h1-r-font-weight: 400;
  --typography-h1-r-font-style: normal;
  --typography-h1-r-font-stretch: normal;
  --typography-h1-r-letter-spacing: 0px;
  --typography-h1-r-line-height: 96px;
  --typography-h1-r-paragraph-indent: 0px;
  --typography-h1-r-paragraph-spacing: 0px;
  --typography-h1-r-text-case: none;
  --typography-h2-b-font-size: 40px;
  --typography-h2-b-text-decoration: none;
  --typography-h2-b-font-family: IBM Plex Sans;
  --typography-h2-b-font-weight: 700;
  --typography-h2-b-font-style: normal;
  --typography-h2-b-font-stretch: normal;
  --typography-h2-b-letter-spacing: 0px;
  --typography-h2-b-line-height: 80px;
  --typography-h2-b-paragraph-indent: 0px;
  --typography-h2-b-paragraph-spacing: 0px;
  --typography-h2-b-text-case: none;
  --typography-h2-sb-font-size: 40px;
  --typography-h2-sb-text-decoration: none;
  --typography-h2-sb-font-family: IBM Plex Sans;
  --typography-h2-sb-font-weight: 600;
  --typography-h2-sb-font-style: normal;
  --typography-h2-sb-font-stretch: normal;
  --typography-h2-sb-letter-spacing: 0px;
  --typography-h2-sb-line-height: 80px;
  --typography-h2-sb-paragraph-indent: 0px;
  --typography-h2-sb-paragraph-spacing: 0px;
  --typography-h2-sb-text-case: none;
  --typography-h2-m-font-size: 40px;
  --typography-h2-m-text-decoration: none;
  --typography-h2-m-font-family: IBM Plex Sans;
  --typography-h2-m-font-weight: 500;
  --typography-h2-m-font-style: normal;
  --typography-h2-m-font-stretch: normal;
  --typography-h2-m-letter-spacing: 0px;
  --typography-h2-m-line-height: 80px;
  --typography-h2-m-paragraph-indent: 0px;
  --typography-h2-m-paragraph-spacing: 0px;
  --typography-h2-m-text-case: none;
  --typography-h2-r-font-size: 40px;
  --typography-h2-r-text-decoration: none;
  --typography-h2-r-font-family: IBM Plex Sans;
  --typography-h2-r-font-weight: 400;
  --typography-h2-r-font-style: normal;
  --typography-h2-r-font-stretch: normal;
  --typography-h2-r-letter-spacing: 0px;
  --typography-h2-r-line-height: 80px;
  --typography-h2-r-paragraph-indent: 0px;
  --typography-h2-r-paragraph-spacing: 0px;
  --typography-h2-r-text-case: none;
  --typography-h3-b-font-size: 33px;
  --typography-h3-b-text-decoration: none;
  --typography-h3-b-font-family: IBM Plex Sans;
  --typography-h3-b-font-weight: 700;
  --typography-h3-b-font-style: normal;
  --typography-h3-b-font-stretch: normal;
  --typography-h3-b-letter-spacing: 0px;
  --typography-h3-b-line-height: 66px;
  --typography-h3-b-paragraph-indent: 0px;
  --typography-h3-b-paragraph-spacing: 0px;
  --typography-h3-b-text-case: none;
  --typography-h3-sb-font-size: 33px;
  --typography-h3-sb-text-decoration: none;
  --typography-h3-sb-font-family: IBM Plex Sans;
  --typography-h3-sb-font-weight: 600;
  --typography-h3-sb-font-style: normal;
  --typography-h3-sb-font-stretch: normal;
  --typography-h3-sb-letter-spacing: 0px;
  --typography-h3-sb-line-height: 66px;
  --typography-h3-sb-paragraph-indent: 0px;
  --typography-h3-sb-paragraph-spacing: 0px;
  --typography-h3-sb-text-case: none;
  --typography-h3-m-font-size: 33px;
  --typography-h3-m-text-decoration: none;
  --typography-h3-m-font-family: IBM Plex Sans;
  --typography-h3-m-font-weight: 500;
  --typography-h3-m-font-style: normal;
  --typography-h3-m-font-stretch: normal;
  --typography-h3-m-letter-spacing: 0px;
  --typography-h3-m-line-height: 66px;
  --typography-h3-m-paragraph-indent: 0px;
  --typography-h3-m-paragraph-spacing: 0px;
  --typography-h3-m-text-case: none;
  --typography-h3-r-font-size: 33px;
  --typography-h3-r-text-decoration: none;
  --typography-h3-r-font-family: IBM Plex Sans;
  --typography-h3-r-font-weight: 400;
  --typography-h3-r-font-style: normal;
  --typography-h3-r-font-stretch: normal;
  --typography-h3-r-letter-spacing: 0px;
  --typography-h3-r-line-height: 66px;
  --typography-h3-r-paragraph-indent: 0px;
  --typography-h3-r-paragraph-spacing: 0px;
  --typography-h3-r-text-case: none;
  --typography-body-1-b-font-size: 28px;
  --typography-body-1-b-text-decoration: none;
  --typography-body-1-b-font-family: IBM Plex Sans;
  --typography-body-1-b-font-weight: 700;
  --typography-body-1-b-font-style: normal;
  --typography-body-1-b-font-stretch: normal;
  --typography-body-1-b-letter-spacing: 0px;
  --typography-body-1-b-line-height: 56px;
  --typography-body-1-b-paragraph-indent: 0px;
  --typography-body-1-b-paragraph-spacing: 0px;
  --typography-body-1-b-text-case: none;
  --typography-body-1-sb-font-size: 28px;
  --typography-body-1-sb-text-decoration: none;
  --typography-body-1-sb-font-family: IBM Plex Sans;
  --typography-body-1-sb-font-weight: 600;
  --typography-body-1-sb-font-style: normal;
  --typography-body-1-sb-font-stretch: normal;
  --typography-body-1-sb-letter-spacing: 0px;
  --typography-body-1-sb-line-height: 56px;
  --typography-body-1-sb-paragraph-indent: 0px;
  --typography-body-1-sb-paragraph-spacing: 0px;
  --typography-body-1-sb-text-case: none;
  --typography-body-1-m-font-size: 28px;
  --typography-body-1-m-text-decoration: none;
  --typography-body-1-m-font-family: IBM Plex Sans;
  --typography-body-1-m-font-weight: 500;
  --typography-body-1-m-font-style: normal;
  --typography-body-1-m-font-stretch: normal;
  --typography-body-1-m-letter-spacing: 0px;
  --typography-body-1-m-line-height: 56px;
  --typography-body-1-m-paragraph-indent: 0px;
  --typography-body-1-m-paragraph-spacing: 0px;
  --typography-body-1-m-text-case: none;
  --typography-body-1-r-font-size: 28px;
  --typography-body-1-r-text-decoration: none;
  --typography-body-1-r-font-family: IBM Plex Sans;
  --typography-body-1-r-font-weight: 400;
  --typography-body-1-r-font-style: normal;
  --typography-body-1-r-font-stretch: normal;
  --typography-body-1-r-letter-spacing: 0px;
  --typography-body-1-r-line-height: 56px;
  --typography-body-1-r-paragraph-indent: 0px;
  --typography-body-1-r-paragraph-spacing: 0px;
  --typography-body-1-r-text-case: none;
  --typography-body-2-b-font-size: 23px;
  --typography-body-2-b-text-decoration: none;
  --typography-body-2-b-font-family: IBM Plex Sans;
  --typography-body-2-b-font-weight: 700;
  --typography-body-2-b-font-style: normal;
  --typography-body-2-b-font-stretch: normal;
  --typography-body-2-b-letter-spacing: 0px;
  --typography-body-2-b-line-height: 46px;
  --typography-body-2-b-paragraph-indent: 0px;
  --typography-body-2-b-paragraph-spacing: 0px;
  --typography-body-2-b-text-case: none;
  --typography-body-2-sb-font-size: 23px;
  --typography-body-2-sb-text-decoration: none;
  --typography-body-2-sb-font-family: IBM Plex Sans;
  --typography-body-2-sb-font-weight: 600;
  --typography-body-2-sb-font-style: normal;
  --typography-body-2-sb-font-stretch: normal;
  --typography-body-2-sb-letter-spacing: 0px;
  --typography-body-2-sb-line-height: 46px;
  --typography-body-2-sb-paragraph-indent: 0px;
  --typography-body-2-sb-paragraph-spacing: 0px;
  --typography-body-2-sb-text-case: none;
  --typography-body-2-m-font-size: 23px;
  --typography-body-2-m-text-decoration: none;
  --typography-body-2-m-font-family: IBM Plex Sans;
  --typography-body-2-m-font-weight: 500;
  --typography-body-2-m-font-style: normal;
  --typography-body-2-m-font-stretch: normal;
  --typography-body-2-m-letter-spacing: 0px;
  --typography-body-2-m-line-height: 46px;
  --typography-body-2-m-paragraph-indent: 0px;
  --typography-body-2-m-paragraph-spacing: 0px;
  --typography-body-2-m-text-case: none;
  --typography-body-2-r-font-size: 23px;
  --typography-body-2-r-text-decoration: none;
  --typography-body-2-r-font-family: IBM Plex Sans;
  --typography-body-2-r-font-weight: 400;
  --typography-body-2-r-font-style: normal;
  --typography-body-2-r-font-stretch: normal;
  --typography-body-2-r-letter-spacing: 0px;
  --typography-body-2-r-line-height: 46px;
  --typography-body-2-r-paragraph-indent: 0px;
  --typography-body-2-r-paragraph-spacing: 0px;
  --typography-body-2-r-text-case: none;
  --typography-body-3-b-font-size: 19px;
  --typography-body-3-b-text-decoration: none;
  --typography-body-3-b-font-family: IBM Plex Sans;
  --typography-body-3-b-font-weight: 700;
  --typography-body-3-b-font-style: normal;
  --typography-body-3-b-font-stretch: normal;
  --typography-body-3-b-letter-spacing: 0px;
  --typography-body-3-b-line-height: 38px;
  --typography-body-3-b-paragraph-indent: 0px;
  --typography-body-3-b-paragraph-spacing: 0px;
  --typography-body-3-b-text-case: none;
  --typography-body-3-sb-font-size: 19px;
  --typography-body-3-sb-text-decoration: none;
  --typography-body-3-sb-font-family: IBM Plex Sans;
  --typography-body-3-sb-font-weight: 600;
  --typography-body-3-sb-font-style: normal;
  --typography-body-3-sb-font-stretch: normal;
  --typography-body-3-sb-letter-spacing: 0px;
  --typography-body-3-sb-line-height: 38px;
  --typography-body-3-sb-paragraph-indent: 0px;
  --typography-body-3-sb-paragraph-spacing: 0px;
  --typography-body-3-sb-text-case: none;
  --typography-body-3-m-font-size: 19px;
  --typography-body-3-m-text-decoration: none;
  --typography-body-3-m-font-family: IBM Plex Sans;
  --typography-body-3-m-font-weight: 500;
  --typography-body-3-m-font-style: normal;
  --typography-body-3-m-font-stretch: normal;
  --typography-body-3-m-letter-spacing: 0px;
  --typography-body-3-m-line-height: 38px;
  --typography-body-3-m-paragraph-indent: 0px;
  --typography-body-3-m-paragraph-spacing: 0px;
  --typography-body-3-m-text-case: none;
  --typography-body-3-r-font-size: 19px;
  --typography-body-3-r-text-decoration: none;
  --typography-body-3-r-font-family: IBM Plex Sans;
  --typography-body-3-r-font-weight: 400;
  --typography-body-3-r-font-style: normal;
  --typography-body-3-r-font-stretch: normal;
  --typography-body-3-r-letter-spacing: 0px;
  --typography-body-3-r-line-height: 38px;
  --typography-body-3-r-paragraph-indent: 0px;
  --typography-body-3-r-paragraph-spacing: 0px;
  --typography-body-3-r-text-case: none;
  --typography-label-1-s-font-size: 16px;
  --typography-label-1-s-text-decoration: none;
  --typography-label-1-s-font-family: IBM Plex Sans;
  --typography-label-1-s-font-weight: 700;
  --typography-label-1-s-font-style: normal;
  --typography-label-1-s-font-stretch: normal;
  --typography-label-1-s-letter-spacing: 0px;
  --typography-label-1-s-line-height: 32px;
  --typography-label-1-s-paragraph-indent: 0px;
  --typography-label-1-s-paragraph-spacing: 0px;
  --typography-label-1-s-text-case: none;
  --typography-label-1-sb-font-size: 16px;
  --typography-label-1-sb-text-decoration: none;
  --typography-label-1-sb-font-family: IBM Plex Sans;
  --typography-label-1-sb-font-weight: 600;
  --typography-label-1-sb-font-style: normal;
  --typography-label-1-sb-font-stretch: normal;
  --typography-label-1-sb-letter-spacing: 0px;
  --typography-label-1-sb-line-height: 32px;
  --typography-label-1-sb-paragraph-indent: 0px;
  --typography-label-1-sb-paragraph-spacing: 0px;
  --typography-label-1-sb-text-case: none;
  --typography-label-1-m-font-size: 16px;
  --typography-label-1-m-text-decoration: none;
  --typography-label-1-m-font-family: IBM Plex Sans;
  --typography-label-1-m-font-weight: 500;
  --typography-label-1-m-font-style: normal;
  --typography-label-1-m-font-stretch: normal;
  --typography-label-1-m-letter-spacing: 0px;
  --typography-label-1-m-line-height: 32px;
  --typography-label-1-m-paragraph-indent: 0px;
  --typography-label-1-m-paragraph-spacing: 0px;
  --typography-label-1-m-text-case: none;
  --typography-label-1-r-font-size: 16px;
  --typography-label-1-r-text-decoration: none;
  --typography-label-1-r-font-family: IBM Plex Sans;
  --typography-label-1-r-font-weight: 400;
  --typography-label-1-r-font-style: normal;
  --typography-label-1-r-font-stretch: normal;
  --typography-label-1-r-letter-spacing: 0px;
  --typography-label-1-r-line-height: 32px;
  --typography-label-1-r-paragraph-indent: 0px;
  --typography-label-1-r-paragraph-spacing: 0px;
  --typography-label-1-r-text-case: none;
  --typography-label-2-b-font-size: 13px;
  --typography-label-2-b-text-decoration: none;
  --typography-label-2-b-font-family: IBM Plex Sans;
  --typography-label-2-b-font-weight: 700;
  --typography-label-2-b-font-style: normal;
  --typography-label-2-b-font-stretch: normal;
  --typography-label-2-b-letter-spacing: 0px;
  --typography-label-2-b-line-height: 26px;
  --typography-label-2-b-paragraph-indent: 0px;
  --typography-label-2-b-paragraph-spacing: 0px;
  --typography-label-2-b-text-case: none;
  --typography-label-2-sb-font-size: 13px;
  --typography-label-2-sb-text-decoration: none;
  --typography-label-2-sb-font-family: IBM Plex Sans;
  --typography-label-2-sb-font-weight: 600;
  --typography-label-2-sb-font-style: normal;
  --typography-label-2-sb-font-stretch: normal;
  --typography-label-2-sb-letter-spacing: 0px;
  --typography-label-2-sb-line-height: 26px;
  --typography-label-2-sb-paragraph-indent: 0px;
  --typography-label-2-sb-paragraph-spacing: 0px;
  --typography-label-2-sb-text-case: none;
  --typography-label-2-m-font-size: 13px;
  --typography-label-2-m-text-decoration: none;
  --typography-label-2-m-font-family: IBM Plex Sans;
  --typography-label-2-m-font-weight: 500;
  --typography-label-2-m-font-style: normal;
  --typography-label-2-m-font-stretch: normal;
  --typography-label-2-m-letter-spacing: 0px;
  --typography-label-2-m-line-height: 26px;
  --typography-label-2-m-paragraph-indent: 0px;
  --typography-label-2-m-paragraph-spacing: 0px;
  --typography-label-2-m-text-case: none;
  --typography-label-2-r-font-size: 13px;
  --typography-label-2-r-text-decoration: none;
  --typography-label-2-r-font-family: IBM Plex Sans;
  --typography-label-2-r-font-weight: 400;
  --typography-label-2-r-font-style: normal;
  --typography-label-2-r-font-stretch: normal;
  --typography-label-2-r-letter-spacing: 0px;
  --typography-label-2-r-line-height: 26px;
  --typography-label-2-r-paragraph-indent: 0px;
  --typography-label-2-r-paragraph-spacing: 0px;
  --typography-label-2-r-text-case: none;
}
